* {
    padding: 0px;
    margin: 0px;
}

body {
    background: url(/images/background.png) no-repeat;
    font-size: 20px;
}

.top-section, .bottom-section {
    width: 1130px;
    display: flex;
    flex-direction: row;
    justify-content: space-around
}

h1 {
    color: white;
}

p {
    color: lightgrey;
    padding: 10px 5px 0px 25px;
}

h2 {
    padding: 10px 5px 0px 25px;
}

.small-content {
    background: white;
    width: 360px;
}

img.icons {
    padding: 64px 0px 0px 25px;
}

div.car-content p {
    position: absolute;
    top: 460px;
}

div.car-content h1 {
    position: absolute;
    top: 500px;
}

section {
    position: relative;
    left: 240px;
    width: 1360px;
}

span {
    color: grey;
}

footer>div {
    width: 1130px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 100px;
}