* {
    margin: 0;
    padding: 0;
}

@font-face body {
    font-family: 'font-icons';
}

.background {
    background: rgb(75, 91, 100);
    width: 1200px;
    height: 800px;
}

.title-text {
    background: black;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    width: 830px;
    position: relative;
    top: 200px;
    left: 350px;
    z-index: 3;
}

.title-text p, h2 {
    color: white;
}

hr {
    color: grey;
    width: 815px;
    margin-top: 10px;
}

.main-text {
    height: 450px;
    width: 760px;
    position: relative;
    top: 30px;
    left: 100px;
    background: white;
    padding: 200px 120px 0px 120px;
    z-index: 1;
}

.icons {
    height: 100px;
    width: 680px;
    background: yellow;
    position: relative;
    z-index: 2;
    top: 200px;
    left: 520px;
}

p {
    padding-top: 10px;
}

h1 {
    padding-top: 20px;
}